<template>
  <div class="basedatos">
   
   <v-card :loading="loading" class="mx-auto my-1" >
    <template slot="progress">
      <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
    </template>

    <v-img height="250" src="https://c1.thejournal.ie/media/2020/04/2-6947938-390x285.jpg"></v-img>

    <v-card-title>Seleccione el archivo excel y cárguelo.</v-card-title>

    <v-card-text>
      <v-row align="center" class="mx-0">
        <v-file-input class="v-btn v-size--default white" 
                        :rules="fileRules"

                        show-size
                        counter
                        accept=".csv"
                        placeholder="Elegir archivo ..."
                        v-model="fileExcel" 
                        @change="submitFile"
                        style="font-weight: bolder;font-size: larger;cursor:pointer!important;margin-top:40px;">
          </v-file-input> 
          <!--.ods,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel -->
           <!--<v-btn color="primary"  @click="submitFile" style="margin-left:0px;margin-top:40px;font-size:12px">
                      <v-icon right dark  style="font-size: 28px;margin-right:10px">mdi-arrow-right-bold-circle</v-icon>
                      Cargar archivo</v-btn>-->
      </v-row>


      
      <div style="margin-top:60px">La base de datos permitira realizar el calculo automatico de número de piezas y promedios.</div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

    <v-card-title>Datos del archivo cargado</v-card-title>
    <v-card-text>
      <v-chip-group v-model="selection" active-class="primary white--text" column>
        <v-chip>{{$store.state.archivo}}</v-chip>
        <v-chip>{{$store.state.archivoSize}}</v-chip>
        <v-chip>{{$store.state.archivoTipo}}</v-chip>
        <v-chip>{{$store.state.archivoUltimaFecha}}</v-chip>
        <v-chip>Registros: {{$store.state.archivoRegistros}}</v-chip>
      </v-chip-group>
    </v-card-text>
  </v-card>

   <v-overlay :value="overlay">
        <v-card class="mx-auto" color="#FBFBFB" dark max-width="490">
          <v-row>
             <v-col cols="12">
              <v-card-text class="headline font-weight-bold" style="text-align: center;color:black">
                Cargando registros ...
              </v-card-text>
            </v-col>
             <v-col cols="12" style="text-align: center;">
              <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
            </v-col>
          </v-row>  
        </v-card>
      </v-overlay>



      <v-snackbar v-model="snackbar" :color="colorSnack">
            {{ msgSanck }}
            <v-btn  text @click="snackbar = false">
                Cerrar
            </v-btn>
      </v-snackbar>

  </div>
</template>
<script>export default {
    name: 'basedatos',
  components:{
      
    },
    data(){
        return{
         overlay: false,
          loading: false,
          selection: 4,
          fixedHeader:true,
            dense:true,
            hayErroresFile:'',
            snackbar:false,
            colorSnack:'',
            msgSanck:'',
            fileRules: [
                value => !value || value.size < 20000000 || 'Archivo < 20 MB!', 
             ],
             fileExcel: [],
             errorFileBase64:''
        }
    },
    methods:{ 
      submitFile() {
            this.overlay=true;

            this.archivo='Nombre';
            this.archivoSize='Tamaño';
            this.archivoTipo='Tipo';
            this.archivoUltimaFecha='Última fecha modificación';
            this.$store.state.dbCargada="";

            this.errorFileBase64='';
            this.hayErroresFile=false;

           
           if (this.fileExcel==undefined || this.fileExcel=='') {
               console.log("No File Chosen");
               this.snackbar = true;
                this.msgSanck="No ha elegido un archivo";
                this.colorSnack='red';
                this.overlay=false;
               return;
               }

            var arrNombre = this.fileExcel.name.split('.');
            var ext = arrNombre[arrNombre.length-1];
            console.log(ext); 

            this.$store.state.archivo=this.fileExcel.name;
            this.$store.state.archivoSize=this.fileExcel.size/100;
            this.$store.state.archivoTipo=this.fileExcel.type;
            this.$store.state.archivoUltimaFecha=this.fileExcel.lastModifiedDate;
   
            //console.log(this.fileExcel);
            var reader = new FileReader();
            
            reader.readAsBinaryString(this.fileExcel);
            reader.onload = () => {
                this.excel64=reader.result;
                 //Read the Excel File data.
              var workbook = XLSX.read(this.excel64, {
                  type: 'binary'
              });
      
              //Fetch the name of First Sheet.
              var firstSheet = workbook.SheetNames[0];
      
              //Read all rows from First Sheet into an JSON array.
              this.$store.state.database = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
              this.$store.state.archivoRegistros = this.$store.state.database.length;
              this.$store.state.database.forEach(myFunction)

              function myFunction(arrItem, index, arr) {
                arrItem.ID = index;
                arr[index] = arrItem ;
              }

              this.$store.state.dbCargada="green";
              
                console.log(this.$store.state.database);
                this.colorSnack='green';    
                this.snackbar = true;
                this.msgSanck="Base de datos cargada";
                this.overlay=false;
            }


         //
      },
    }
}
</script>
