<template>
  <div class="basedatos">


  <v-card :loading="loading" class="mx-auto my-1" >
    <template slot="progress">
      <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
    </template>




    <v-card-text>
      <div style="margin-top:10px;font-size: large;">Cargue el archivo de códigos.</div>
      <v-row align="center" class="mx-0">
        <v-file-input class="v-btn v-size--default white" 
                        :rules="fileRules"
                        show-size
                        counter
                        accept=".csv"
                        placeholder="Elegir archivo con códigos ..."
                        v-model="fileExcelCodigos" 
                        @change="submitFileCodigos"
                        style="font-weight: bolder;font-size: larger;cursor:pointer!important;margin-top:40px;">
          </v-file-input> 
      </v-row>


      
    </v-card-text>
<br/>
<hr>






     <v-card-title>
        <v-row>
          <v-col cols="3" style="margin-top: 7px;font-size: smaller;margin-left: 50px;">
               Pegue los elementos.
          </v-col>
          <v-col cols="2" style="text-align: right;margin-top: -11px;">
             <!--<v-select :items="almacenes" @change="selectedValue" label="Almacenes" ></v-select>-->
          </v-col>


           <v-col cols="5" style="text-align: right;">    
            <v-row style="margin-top:1px">
              <v-btn color="primary" style=""
                  @click="agruparCodigos()" 
                  :loading="loading"
                  :disabled="loading">Contabilizar códigos</v-btn>  

                   <v-btn color="primary" style="margin-left:5px"
                  @click="clear()" 
                  :loading="loading"
                  :disabled="loading">Limpiar</v-btn>  
              
            </v-row> 
                 
          </v-col>
          
        </v-row>
     </v-card-title>
     <v-divider class="mx-4"></v-divider>
    <v-card-text>
      <v-row align="center" class="mx-0">
      <!-- excel section -->
           <div class="wrapper-jexcel">
              <br />
              <div id="spreadsheet" ref="spreadsheet"></div>
            </div>

      <!-- excel section -->
      </v-row>
     
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

  </v-card>


    <v-overlay :value="overlay">
        <v-card class="mx-auto" color="#FBFBFB" dark max-width="490">
          <v-row>
             <v-col cols="12">
              <v-card-text class="headline font-weight-bold" style="text-align: center;color:black">
                Autenticando ...
              </v-card-text>
            </v-col>
             <v-col cols="12" style="text-align: center;">
              <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
            </v-col>
          </v-row>  
        </v-card>
      </v-overlay>

    <v-snackbar v-model="snackbar" :color="colorSnack">
            {{ msgSanck }}
            <v-btn  text @click="snackbar = false">
                Cerrar
            </v-btn>
    </v-snackbar>


  </div>
  

</template>

<script>
import jexcelStyle from "jexcel/dist/jexcel.css"; // eslint-disable-line no-unused-vars
import jexcel from "jexcel"; //

export default {
    name: 'basedatos',
  components:{
      
    },
    data(){
        return{
          fileRules: [
                value => !value || value.size < 20000000 || 'Archivo < 20 MB!', 
             ],
             fileExcelCodigos: [],
             arrAuxCodigos:[],
          almacenSeleccionado:'',
          almacenes:[],
          loading: false,
          snackbar:false,
          colorSnack:'',
          msgSanck:'',
          absolute: false,
          opacity: 0.46,
          overlay: '',
          zIndex: 5,
          jExcelObjX:{},
          dialogLoading: false,
          proveedor:'',
          departamento:'',
          prenda:'',
          workListCargada:[],
          workListInicial: [["",""],
                    ],
        }
    },
    computed: {
        console: () => console,
        window: () => window,
        proceso(val){
            return 4+val;
        },
        jExcelOptions() {
          return {
            data: this.workListInicial,
            //onpaste: this.pegado,
            //onload: this.cargado,
            updateTable:function(instance, cell, col, row, val, label) {
              /*if(col == 1){
                val = val.replace("ACC.","ACC");
                val = val.replace("CABALLERO","HOMBRE");
                val = val.replace("DAMA","MUJER");
                cell.innerText = val;
              }*/

            },
            columns: [
              { type: "text", title: "CÓDIGOS", width: "200px" },
              { type: "text", title: "CANTIDAD", width: "220px" },
            ]
          };
        }
      },
      mounted: function() {
        const jExcelObj = jexcel(this.$refs["spreadsheet"], this.jExcelOptions);
        Object.assign(this, { jExcelObj }); // tucks all methods under jExcelObj object in component instance

        this.getAlmacenes();
      },
      methods:{
        submitFileCodigos() {
            this.overlay=true;

            this.archivo='Nombre';
            this.archivoSize='Tamaño';
            this.archivoTipo='Tipo';
            this.archivoUltimaFecha='Última fecha modificación';
            //var arrAuxCodigos=[];

            this.errorFileBase64='';
            this.hayErroresFile=false;

           
           if (this.fileExcelCodigos==undefined || this.fileExcelCodigos=='') {
               console.log("No File Chosen");
               this.snackbar = true;
                this.msgSanck="No ha elegido un archivo";
                this.colorSnack='red';
                this.overlay=false;
               return;
               }

            var arrNombre = this.fileExcelCodigos.name.split('.');
            var ext = arrNombre[arrNombre.length-1];
            console.log(ext); 

            this.$store.state.archivoCodigos=this.fileExcelCodigos.name;
            this.$store.state.archivoSizeCodigos=this.fileExcelCodigos.size/100;
            this.$store.state.archivoTipoCodigos=this.fileExcelCodigos.type;
            this.$store.state.archivoUltimaFechaCodigos=this.fileExcelCodigos.lastModifiedDate;
   
            //console.log(this.fileExcel);
            var reader = new FileReader();
            
            reader.readAsBinaryString(this.fileExcelCodigos);
            reader.onload = () => {
                this.excel64=reader.result;
                 //Read the Excel File data.
              var workbook = XLSX.read(this.excel64, {
                  type: 'binary'
              });
      
              //Fetch the name of First Sheet.
              var firstSheet = workbook.SheetNames[0];
      
              //Read all rows from First Sheet into an JSON array.
              this.$store.state.codigos = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
              this.$store.state.archivoRegistrosCodigo = this.$store.state.codigos.length;
              this.$store.state.codigos.forEach(myFunction)

              function myFunction(arrItem, index, arr) {
                arrItem.ID = index;
                arr[index] = arrItem ;
              }
               
          
                console.log(this.$store.state.codigos);
                
                this.colorSnack='green';    
                this.snackbar = true;
                this.msgSanck="Archivo de códigos cargados";
                this.overlay=false;
            }


         //
      },
        selectedValue(seleccionado){
         this.almacenSeleccionado= seleccionado;
        },
        clear(){
          
          this.workListInicial= [["",""]];
          document.getElementById('spreadsheet').jexcel.setData(this.workListInicial);
          this.fileExcelCodigos=null;
        },
        cargado(){
         console.log("finish.....cargado");
        },
        pegado(){
         console.log("finish.....");
         
        },
        insertRowc(filas) {
        console.log(this);
          // this.spreadsheet.insertRow();
          for(var i=0;i < filas;i++){
            this.jExcelObj.insertRow();
          }
        },
        getAlmacenes(){

          this.almacenes= [...new Set(this.$store.state.database.map(item => item.ALMACEN))].sort(); // [ 'A', 'B']
          this.almacenes = this.almacenes.filter(item => item !== undefined && item !== null)
          console.log(this.almacenes);

        },
        searchDB(elemento){

           var veces=0;
          for(var i=0;i <this.$store.state.codigos.length;i++ ){

            if(this.$store.state.codigos[i].CODIGO==elemento){
               veces++;
            }
          }

          
          return veces;

        },
        agruparCodigos(){

          if(this.$store.state.codigos.length<=0){
            this.snackbar = true;
                this.msgSanck="No se han cargado códigos";
                this.colorSnack='red';
                this.overlay=false;
               return;
          }
          //this.loader = 'loading';
          this.loading=true;
          this.overlay = true;
          var myExcel = document.getElementById('spreadsheet').jexcel;
          //yourTableInstance.undo();

          //Se obtiene array que representa el excel cargado
          this.workListCargada= myExcel.getData();

          if(this.workListCargada.length==1 && this.workListCargada[0][0]==""){
            this.snackbar = true;
                this.msgSanck="Cargue elementos para procesarlos";
                this.colorSnack='red';
                this.overlay=false;
                this.loading=false;
               return;
          }

          /*if(this.almacenSeleccionado==''){
              this.snackbar = true;
                this.msgSanck="Seleccione un almacen";
                this.colorSnack='red';
                this.overlay=false;
                this.loading=false;
               return;
          }*/

          this.workListCargada.forEach(element => {
             element[1] = this.searchDB(element[0]);              
          });

          document.getElementById('spreadsheet').jexcel.setData(this.workListCargada);


          this.snackbar=true;
          this.colorSnack='green';
          this.msgSanck='El proceso de agrupación de códigos ha terminado';


          this.overlay = false;
          this.loading=false;
        }
      }
}

</script>

<style lang="css" scoped>
.introduction {
  font-size: 14px;
  padding: 0.5em;
  margin-bottom: 0.3em;
  color: gold;
  background: #111;
}




/*
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    
    visibility: visible;
    opacity: 1;
    
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.hide-modal {
    
    visibility: collapse;
    opacity: 1;
    
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}*/


</style>