<template>

<v-app style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/61hsPtI3qtL._AC_SX679_.jpg');background-position:center;background-repeat:no-repeat;background-size:cover;">
    <v-app-bar app  style="background-color:#00b3a7">
      
      <div class="d-flex align-center">
        <v-img alt="TotalPlay" class="shrink mr-2" contain min-width="50%" src="https://pdr.prod.totalplay.corp/images/total_play_logo.png" transition="scale-transition" width="170px"/>
      </div>
      <v-spacer></v-spacer>
        <div style="font-size: 21px;font-weight: bolder;color:white">Teoricos y promedios v1.0</div>
    </v-app-bar>

    <v-content >
      <section id="hero" >
        <v-row no-gutters>
          <!-- <v-img src="https://www.grupoamicizia.com.mx/upload/slide/6.jpg" style="height: 90%;"> -->
            <v-theme-provider >
              <v-container fill-height>
                  <v-row align="center" class="black--text mx-auto" justify="center">
                 <v-card  width="320" class="elevation-14" style="margin-top:60px">
                    <v-card-title  style="background-color:#00b3a7;border-color: #1E88E5;color:white">
                      <span class="headline" style="text-align:center;width: 100%;">Ingrese sus credenciales</span></v-card-title>
                    <v-card-text>
                    <v-container>
                        <!-- formulario -->
                        <v-card class="elevation-0">
                            <v-form ref="form" v-model="formLoginValido" lazy-validation style="font-weight: bolder;">
                                <v-row class="mx-auto"  dense style="margin-top:15px">
                                    <v-col cols="12" md="12" sm="12" class="">
                                        <v-text-field :rules="campoRequerido"   label="Usuario" solo  maxlength="100"  style="font-size:12px;"  v-model="$store.state.usuario"  required ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row class="mx-auto"  dense style="margin-top:-15px">
                                    <v-col cols="12" md="12" sm="12" class="">
                                        <v-text-field  :rules="campoRequerido" type="password" solo label="Contraseña"    maxlength="100" style="font-size:12px" @keyup.enter="loginLdap"  v-model="$store.state.contrasenia"  required ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card>
                        <!-- formulario -->
                        <v-divider></v-divider>
                    </v-container></v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                  
                    <v-btn small dark color="#00b3a7"  @click="loginLdap" style="margin-right:22px">Ingresar</v-btn>
                    
                    </v-card-actions>
                </v-card>
                </v-row>
              </v-container>
            </v-theme-provider>
        </v-row>
      </section>
    </v-content>


    <v-snackbar v-model="snackbar" :color="colorSnack">
            {{ msgSanck }}
            <v-btn  text @click="snackbar = false">
                Cerrar
            </v-btn>
    </v-snackbar>

     <v-overlay :value="overlay">
        <v-card class="mx-auto" color="#FBFBFB" dark max-width="490">
          <v-row>
             <v-col cols="12">
              <v-card-text class="headline font-weight-bold" style="text-align: center;color:black">
                Autenticando ...
              </v-card-text>
            </v-col>
             <v-col cols="12" style="text-align: center;">
              <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
            </v-col>
          </v-row>  
        </v-card>
      </v-overlay>
	
  </v-app>


    
</template>
<script>

//import operations from '../operations';
import router from '../router';

export default {
    name: 'Login',
  components:{
      
    },
    data(){
        return{
            formLoginValido:'',
            campoRequerido: [
             r => !!r || 'El campo es requerido'
             ],
            snackbar:false,
            colorSnack:'red',
            msgSanck:'Verifique los campos en rojo',
            mensaje:false,
            overlay:''
        }
    },
    methods:{ 
      redirije(path){
      console.log(path);
      router.push(path);
    },
      async loginLdap(){
        this.overlay = true;
        if(!this.$refs.form.validate()){
              this.snackbar=true;
              this.colorSnack='red';
              this.msgSanck='Todos los campos son requeridos';
              this.mensaje=false;
              this.overlay = false;
              return;
            }else{

              try{

                if(this.$store.state.usuario=="gvargas" && this.$store.state.contrasenia=="gvargas01"){
                    this.$store.state.autenticado=true;
                    this.redirije("/");
                }else{
                    this.overlay = false;
                    this.snackbar = true;
                    this.msgSanck="Error : Credenciales inválidas";
                    this.colorSnack='red';
                    this.$store.state.autenticado=false;
                    this.mensaje=false;
                }

                }catch(error){
                  
                    this.overlay = false;
                    this.snackbar = true;
                    this.msgSanck="Error : Credenciales inválidas";
                    this.colorSnack='red';
                    this.mensaje=false;
                }
              
          }
      },
     

    }
}
</script>