
  
<template>
<v-app id="inspirex">  

<template v-if="$store.state.autenticado==true">

    <v-navigation-drawer v-model="drawer" app>
       <v-list-item class="px-4 py-1" style="background-color:#00b3a7" >
          <v-list-item-avatar>
            <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
          </v-list-item-avatar>
          <v-list-item-title>Gabriel V</v-list-item-title>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense>
         <!-- <v-list-item v-for="item in items" :key="item.title"  @click="redirije(item.url)">
            <v-list-item-icon>
              <v-icon color="green">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>-->


          <v-list-item  @click="redirije('/')">
            <v-list-item-icon>
              <v-icon color="">mdi-home-city</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Inicio</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item  @click="redirije('/fisicos')">
            <v-list-item-icon>
              <v-icon color="">mdi-barcode-scan</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Detallado</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item  @click="redirije('/basedatos')">
            <v-list-item-icon>
              <v-icon :color="$store.state.dbCargada">mdi-database-edit</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-bind:style="{ color: $store.state.dbCargada }" >Base de datos</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item  @click="redirije('/teoricos')">
            <v-list-item-icon>
              <v-icon color="">mdi-file-document</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Teóricos y promedios</v-list-item-title>
            </v-list-item-content>
          </v-list-item>


        </v-list>
    </v-navigation-drawer>

    <v-app-bar app  dark style="border_top:15px;background-color:#00b3a7">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      

      <div class="d-flex align-center">
        <v-img alt="TotalPlay" class="shrink mr-2" contain min-width="50%" src="https://vicom.mx/demos/m-promoda/images/layout/promoda-brand.png" 
        transition="scale-transition" width="50%"/>
      </div>

      <v-spacer />
    
      
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn x-large class="ma-2" elevation="0" v-on="on" color="#00b3a7">
            <v-avatar size="" class="mx-1">
                <v-icon dark style="font-size:40px;color:darkseagreen">mdi-account-circle</v-icon>
              </v-avatar>
            <span class="hidden-sm-and-down" style="color:#fff;">Gabriel V</span>
          </v-btn>
        </template>

        <v-list >
          <v-list-item>
            
            <v-btn text @click="cerrarSession">Cerrar sesión</v-btn>
          </v-list-item>
          <v-list-item>
            
            <v-btn text >Versión 1.0.0</v-btn>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-app-bar>

    <v-main style="z-index:0">
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
    <v-footer
      color="#00b3a7"
      app
    >
      <span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  
</template>
 <template v-else>
      <login></login>
   </template>
</v-app>
</template>

<script>
 import login from '@/views/Login.vue';
 import router from '../src/router'

export default {
  components:{
      login
    },
  name: 'App',
  data: () => ({

     drawer: true,
     items: [
          { title: 'Inicio', icon: 'mdi-home-city',url:'/' },
          { title: 'Base de datos', icon: 'mdi-database-edit' ,url:'/basedatos'},
          { title: 'Teoricos y promedios', icon: 'mdi-file-document' ,url:'/teoricos'},
      ],
      mini: false,
  }),
  methods:{ 
    redirije(path){
      console.log(path);
      router.push(path);
    },
    cerrarSession(){
      this.$store.state.autenticado=false;
      this.$store.state.usuario="";
      this.$store.state.contrasenia="";
    }
  }
};
</script>